@model WebAguasPL.Data.Entities.Contrato

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" />

<div class="fullBodyContainer">

    <div>
        <br />
        <div class="headerContainer">
            <h1 class="text-center">Contract Details</h1>
        </div>
        <br />
    </div>

    <div style="text-align:center;">
        
        <dl >
            <dt >
                <b>@Html.DisplayNameFor(model => model.Adress)</b>
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Adress)
            </dd>
            <dt >
                <b>@Html.DisplayNameFor(model => model.Postalcode)</b>
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Postalcode)
            </dd>
        </dl>
        <div>
            <div asp-validation-summary="ModelOnly"></div>
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Edit</a>
            <a asp-action="AddLeitura" asp-route-id="@Model.ID" class="btn btn-primary">Add consumption</a>
        
            
        
        </div>
        <div align="right">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
<br />
<br />
<div class="fullBodyContainer">

    <div>
        <br />
        <div class="headerContainer">
            <h1 class="text-center">Consumptions</h1>
        </div>
        <br />
    </div>

    
    @if(Model.Leituras == null || Model.Leituras.Count == 0){
        <h5>No consumptions detected!</h5>
    }
    else
    {
        <table class="table table-hover table-responsive-xl table-striped" id="MyTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Leituras.FirstOrDefault().DataLeitura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Leituras.FirstOrDefault().Valor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Leituras.FirstOrDefault().ValorConsumo)
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Leituras)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataLeitura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Valor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorConsumo)
                        </td>
                        <td id="@item.ID" style="text-align:center">
                            <div asp-validation-summary="ModelOnly"></div>
                            <a asp-action="EditLeitura" asp-route-id="@item.ID" class="btn btn-outline-warning"><i class="fa-solid fa-edit"></i></a>
                            <a asp-action="DeleteLeitura" asp-route-id="@item.ID" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();



        });
    </script>




}