@model IEnumerable<WebAguasPL.Data.Entities.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="SelectCLiente">Create New</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Cliente.Name)
                </th>

            }
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postalcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Name)
                </td>

            }
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postalcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
                {
                    <a asp-action="ValidateContract" asp-route-id="@item.ID">Validar |</a>
                    <a asp-action="CancelContract" asp-route-id="@item.ID">Cancelar</a>

                }
                else{

                    <a asp-action="Edit" asp-route-id="@item.ID">Edit |</a>
                    <a asp-action = "Details" asp-route-id = "@item.ID">Details |</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
