@model IEnumerable<WebAguasPL.Data.Entities.Contrato>

@{
    ViewData["Title"] = "Index";
}

<div class="fullBodyContainer">
    <div>
        <br />
        <div class="headerContainer">
            <h1 class="text-center">Contracts</h1>
        </div>
        <br />
    </div>

    <p style="text-align:center">
        <a asp-action="SelectCLiente" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Create</a>
    </p>

    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    @if (item.IsApproved)
                    {
                        <div class="card card-true">
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
                            {
                                <h3>@Html.DisplayFor(modelItem => item.Cliente.Name)</h3>
                            }

                            <p><b>@Html.DisplayNameFor(model => model.Adress) -</b> @Html.DisplayFor(modelItem => item.Adress)</p>
                            <p><b>@Html.DisplayNameFor(model => model.Postalcode) -</b> @Html.DisplayFor(modelItem => item.Postalcode)</p>
                            <p><b>@Html.DisplayNameFor(model => model.ContractDate) -</b> @Html.DisplayFor(modelItem => item.ContractDate)</p>
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
                            {
                                <div style="float:left; display: flex; ">

                                    <div>
                                        <a asp-action="ValidateContract" asp-route-id="@item.ID" class="btn btn-outline-success"><i class="fa-solid fa-check"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info"><i class="fa-solid fa-circle-info"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="CancelContract" asp-route-id="@item.ID" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div style="float:left; display: flex; ">

                                    <div>
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning"><i class="fa-solid fa-edit"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info"><i class="fa-solid fa-circle-info"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>

                            }
                        </div>


                    }
                    else
                    {
                        <div class="card card-false" >
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
                            {
                                <h3>@Html.DisplayFor(modelItem => item.Cliente.Name)</h3>
                            }

                            <p><b>@Html.DisplayNameFor(model => model.Adress) -</b> @Html.DisplayFor(modelItem => item.Adress)</p>
                            <p><b>@Html.DisplayNameFor(model => model.Postalcode) -</b> @Html.DisplayFor(modelItem => item.Postalcode)</p>
                            <p><b>@Html.DisplayNameFor(model => model.ContractDate) -</b> @Html.DisplayFor(modelItem => item.ContractDate)</p>
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("employee"))
                            {
                                <div style="float:left; display: flex; ">

                                    <div>
                                        <a asp-action="ValidateContract" asp-route-id="@item.ID" class="btn btn-outline-success"><i class="fa-solid fa-check"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info"><i class="fa-solid fa-circle-info"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="CancelContract" asp-route-id="@item.ID" class="btn btn-outline-danger"><i class="fa-solid fa-xmark"></i></a>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div style="float:left; display: flex; ">

                                    <div>
                                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-warning"><i class="fa-solid fa-edit"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info"><i class="fa-solid fa-circle-info"></i></a>
                                    </div>
                                    &nbsp;
                                    <div>
                                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>

                            }
                        </div>
                    }
                </div>

            }
        </div>
    </div>
</div>



